body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

section {
  padding: 6rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

.card {
  border: 5px solid black;
  border-radius: 0;
  height: 350px;
  margin-bottom: 20px;
}

.card .card-body {
  background: black;
  color: white;
  border: none;
}

.card .card-footer {
  background: white;
  border-radius: 0 !important;
  border: none;
}

.card .card-header {
  height: 200px;
  background: white;
  display: flex;
}

.card .card-header h2 {
  margin: auto;
  line-height: 1em;
  text-transform: uppercase;
}

.card:hover {
  box-shadow: 8px 8px red;
}

.card:hover .card-header h2 {
  color: orangered;
}

.btn-link {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.4rem;
  line-height: 2rem;
  border-radius: 50%;
  color: black;
}

.btn-link:hover * {
  color: red;
}

.icon-bar {
  position: absolute;
  top: 5px;
  right: 5px;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: black;
  font-weight: 700;
  font-family: 'Montserrat';
}

#mainNav .navbar-brand {
  color: white;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: red;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: red;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: red;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
  background: black !important;
  color: white;
}

#mainNav .navbar-toggler:hover, #mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:active {
  color: red;
}

.nav-link {
  color: white;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: red;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    text-shadow: 1px 1px red;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Lato';
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}

.about-link {
  color: red !important;
  text-decoration: none !important;
}

.about-link:hover, .about-link:focus, .about-link:active {
  text-shadow: 1px 1px red;
}

a {
  color: black;
}

a:focus, a:hover, a:active {
  color: black;
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: white !important;
}

.bg-secondary {
  background-color: red !important;
}

.bg-dark {
  background: black !important;
}

.text-primary {
  color: black !important;
}

.text-secondary {
  color: red !important;
}

.btn-primary {
  background-color: white;
  border-color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.btn-secondary {
  background-color: red;
  border-color: red;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #cc0000;
  border-color: #cc0000;
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {
    column-count: 1;
  }
}
