// Styling for the navbar
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: $secondary;
  border-bottom: 5px solid $dark;
  @include heading-font;
  .navbar-brand {
    color: $dark;
  }
  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    li.nav-item {
      a.nav-link {
        color: $dark;
        &:hover {
          color: $primary;
        }
        &:active,
        &:focus {
          color: $primary;
          text-shadow: 1px 1px $primary;
        }
      }
    }
  }
  .navbar-toggler {
    padding: 0.8rem;
    background: $secondary !important;
    color: $dark;
    box-shadow: none !important;
    border: none !important;
    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
      color: $primary;
    }
  }

}

.nav-link {
  color: white;
}

@media(min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $primary;
      &:active,
      &:focus,
      &:hover {
        text-shadow: 1px 1px $primary;
      }
    }

  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}
