// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #18BC9C !default;
$secondary: #2C3E50 !default;

$color-blue: rgba(8, 76, 97, 1); !default
$color-red: rgba(219, 58, 52, 1);
$color-green: rgba(40, 175, 176, 1);
$color-yellow: rgba(255, 200, 87, 1);
$color-grey: rgba(50, 48, 49, 1);
