// Variables

$color-red: rgba(219, 58, 52, 1);
$color-yellow: rgba(255, 200, 87, 1);

$primary: white !default;
$secondary: red !default;
$warning: $color-yellow !default;
$danger: $color-red !default;
$dark: black !default;