.Tool {
  @apply flex flex-col w-11/12 mb-4;
  border: 5px solid black;
  border-radius: 0;
  height: 350px;

  &:hover {
    box-shadow: 6px 6px red;
  }

  &:hover .ToolTitle {
    color: orangered;
  }
}

.ToolHeader {
  @apply h-48 flex flex-col p-2;
}

.ToolTitle {
  @apply m-auto uppercase text-center;
}