@import '../styles/variables.scss';

.Header {
  background: $primary;
  height: 100vh;
  display: flex;
  align-items: center;
}

.Title {
  @apply border-4 border-black;
  @apply p-10 text-black;
  box-shadow: 10px 10px $secondary;
}

.ArrowContainer {
  @apply flex justify-center;
  transition: all ease-in-out 3s;

  &:hover {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;

    &::after {
      animation: bounce 1s;
    }
  }
}

